.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  padding: 92px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: auto;
  gap: 16px;
  justify-content: center;
  justify-items: center;
  
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 16px;
    width: 93.75%;
    padding-top: 88px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 510px) {
  .photo-grid {
    gap: 12px;
    width: 90%;
    padding-top: 65px;
    padding-bottom: 64px;
  }
}