.places {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
  }
}

@media screen and (max-width: 360px) {
  .places {
    width: 100%;
  }
}