.place__image {
  max-width: 460px;
  object-fit: contain;
  object-position: top;
  width: calc((100% - 40px)/2 - 12px);
}

@media screen and (max-width: 1024px) {
  .place__image {
  width: calc((100% - 32px)/2 - 8px);
}
}

@media screen and (max-width: 768px) {
  .place__image {
  width: calc((100% - 28px)/2 - 6px);
}
}

@media screen and (max-width: 510px) {
  .place__image {
    width: 100%;
    max-width: 510px;
    margin-bottom: 32px;
  }
  }