.place__paragraph {
  font-size: 18px;
  line-height: 29px;  
  margin-bottom: 26px;
  margin-top: 0;
}

.place__paragraph:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}
}

