.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 510px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
    width: 90%;
  }
}