.place__link {
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid;
  text-decoration: none;
  color: white;
  transition: opacity 350ms linear;
}

.place__link:hover {
  opacity: 0.8;
}