.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  max-width: 1184px;
  height: 740px;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__background::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 350ms ease;
  }

  .cover__background:hover.cover__background::before{
    opacity: 0.8;
  }