.place__url-heading {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 7px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}