.header__lang-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translate(0, 19px);
}

@media screen and (max-width: 510px) {
  .header__lang-links {
    transform: translate(0, 15px);
  }
}