.place__website {
  align-self: flex-end;
  margin-bottom: 48px;
  width: calc((100% - 40px)/2 + 12px);
}

@media screen and (max-width: 1024px) {
  .place__website {
  width: calc((100% - 32px)/2 + 8px);
}
}

@media screen and (max-width: 768px) {
  .place__website {
  width: calc((100% - 28px)/2 + 6px);
}
}

@media screen and (max-width: 510px) {
  .place__website {
  display: none;
}
}